{% extends 'core/home.html' %}

{% block content %}
    <h2>Lista de Produtos</h2>
    <a href="{% url 'produto_create' %}" class="btn btn-primary mb-2">Adicionar Produto</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>
                        <a href="{% url 'produto_update' produto.id %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'produto_delete' produto.id %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}